@model IEnumerable<WebDuLich.Models.Entities.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/WebAdmin_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Roles)
        </td>
        <td>
            <button class="btn btn-success btn-sm" href="#">
                <i class="fas fa-folder">
                </i>
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @style = " color : white " })
            </button>
            <button class="btn btn-danger btn-sm" href="#">
                <i class="fas fa-pencil-alt">
                </i>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @style = " color : white " })
            </button>
            <button class="btn btn-warning btn-sm" href="#">
                <i class="fas fa-trash">
                </i>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @style = " color : white " })
            </button>
        </td>
    </tr>
}

</table>
